:root {
  --color-primary:    #141416;
  --color-secondary:  #F07177;
  --secondary-hover:  #d85f6a;
  --hover-secondary:  #f8b3b9;
  --color-hover-btn:  rgba(240, 113, 119, 0.247);
  --color-light-gray: linear-gradient(to right, #F07177, #aa66cf, #4D4DEA);
  --color-white:      #FFFFFF;
  --color-accent:     #4D4DEA;
  --color-textContent: #8A8A8A;

  /* Tipografías */
  --text-apartado:    'Poppins', sans-serif;
  --text-categoria:   'Poppins', sans-serif;
  --text-seccion:     'Poppins', sans-serif;
  --text-contenido:   'Poppins', sans-serif;
  --text-normal:      'Poppins', sans-serif;
}

/*INICIO DE SECCION 3*/

/* Título de la sección */
.custom-section--two-col .custom-section__title.custom-section__title {
  color: var(--color-white) !important;
  font-family: var(--text-seccion) !important;
  font-size: 3.1rem !important;
  font-weight: 700 !important;
  text-align: center !important;
}

/* Subtítulo de la sección */
.custom-section--two-col .custom-section__subtitle.custom-section__subtitle {
  color: var(--color-textContent) !important;
  font-size: 1.25rem !important;
  text-align: center !important;
  font-family: var(--text-normal) !important;
}

.custom-section--two-col .custom-two-col__media.custom-two-col__media {
  flex: 0 0 25% !important;       
  max-width: 200px !important;     
  margin-bottom: 1rem !important;  
}

@media(min-width: 768px) {
  .custom-section--two-col .custom-two-col__media.custom-two-col__media {
    margin-bottom: 0 !important;   
    margin-right: 1.5rem !important;
  }
}

.custom-section--two-col .custom-for__boxshadow.custom-for__boxshadow {
  box-shadow: 0 3px 8px rgba(138, 138, 138, 0.4) !important; 
}

.custom-section--two-col .custom-two-col__img.custom-two-col__img {
  width: 120px !important;       
  height: 120px !important;       
  object-fit: cover !important;  
}

.custom-section--two-col .custom-two-col__body.custom-two-col__body {
  flex: 1 1 0 !important;
}

.custom-section--two-col .custom-two-col__heading.custom-two-col__heading {
  font-family: var(--text-seccion) !important;
  color: var(--color-primary) !important;
  font-size: 1.25rem !important;   
}

.custom-section--two-col .custom-two-col__text.custom-two-col__text {
  font-family: var(--text-normal) !important;
  color: var(--color-white) !important;
  font-size: 0.85rem !important;  
  line-height: 1.6 !important;
}

.custom-section--two-col .custom-two-col__item.custom-two-col__item {
  overflow: hidden !important;
  background-color: var(--color-textContent) !important;
}

/*FIN DE SECCION 3*/