:root {
  --color-primary:    #141416;
  --color-secondary:  #F07177;
  --secondary-hover:  #d85f6a;
  --color-hover-btn:  rgba(240, 113, 119, 0.247);
  --color-light-gray: linear-gradient(to right, #F07177, #aa66cf, #4D4DEA);
  --color-white:      #FFFFFF;
  --color-accent:     #4D4DEA;
  --color-textContent: #8A8A8A;

  /* Tipografías */
  --text-apartado:    'Poppins', sans-serif;
  --text-categoria:   'Poppins', sans-serif;
  --text-seccion:     'Poppins', sans-serif;
  --text-contenido:   'Poppins', sans-serif;
  --text-normal:      'Poppins', sans-serif;
}
/* 
body{
  background-color: #1B1C1E!important;
} */

/*GLOBAL*/
.section-divider {
  border: none;              
  height: 1px;                  
  background-color: var(--color-textContent); 
  margin: 3rem 0 0 0;

}
/*FIN GLOBAL*/
